


<div class="container">
  <h2 class="text-align">What is you question</h2>
  <div class="form form-control">
    <form action="/answer" method="get">
      <input type="text" name="message">
      <input type="submit" value="Ask!">
    </form>
  </div>
</div>
